<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<h1>Listing updates</h1>

<table>
  <tr>
    <th>Update</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @user.updates.each do |update| %>
    <%= render(update.subject) %>
<% end %>
</table

<%= link_to 'New Note', new_user_note_path(@user) %>
|
<%= link_to 'New Link', new_user_link_path(@user) %>
