<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<h1>Listing notes</h1>

<table>
  <tr>
    <th>Text</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.notes.each do |note| %>
  <tr>
    <td><%= link_to note.text, user_note_path(@user, note) %></td>
    <td><%= link_to 'Edit', edit_user_note_path(@user, note) %></td>
    <td><%= link_to 'Destroy', user_note_path(@user, note), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= time_ago_in_words note.updated_at %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_user_note_path(@user) %>


<h1>Listing links</h1>

<table>
  <tr>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.links.each do |link| %>
  <tr>
    <td><%= link_to link.url, link.url %></td>
    <td><%= link_to 'Edit', edit_user_link_path(@user, link) %></td>
    <td><%= link_to 'Destroy', user_link_path(@user, link), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Link', new_user_link_path(@user) %>
